.myRow{
    display: flex;
    flex-direction: row;
    padding-right: 35px;
}

.col{
    flex: 1 0;
}

.content {
    background-color: #F5F7F9;
    padding: 10px;
    display: flex;
}

.btn-custom {
    background-color: rgb(84, 136, 86) !important;
    color: white !important;
}

.btn-custom:hover {
    background-color: rgb(96, 157, 98) !important;

}

.colored-link {
    color:rgb(63, 148, 73);
    text-decoration: underline;
}

.colored-link:hover {
    color:rgb(53, 119, 61);
}
