#sidebar .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px;
    border: none;
    text-decoration: none;
}

#sidebar .list-group-item.active {
    background-color: white;
    color: rgb(63, 148, 73);
}

#sidebar .list-group-item i {
    color: white;
    margin: 5px;
}

#sidebar {
    background-color: white;
    width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #EBECF2;
}


.red-icon {
    margin: 5px;
    color: white;
  }